# EDA y ETL user

 Data del usuario incluyendo referencias a otros usuarios amigos y a toda la metadata asociada al usuario.

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("c:/Users/leand/Desktop/Proyecto Final/Yelp/Datasets Yelp/user.parquet")

In [3]:
df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [11]:
df.shape

(1987897, 22)

### Vemos si tenemos duplicados en el user_id

In [7]:
# Contar la cantidad total de duplicados en la columna 'business_id'
cantidad_duplicados = df['user_id'].duplicated().sum()

# Mostrar la cantidad total de duplicados
print("Cantidad total de duplicados en la columna 'user_id':", cantidad_duplicados)

Cantidad total de duplicados en la columna 'user_id': 117700

### Eliminamos duplicados

In [8]:
df = df.drop_duplicates()

In [10]:
df.shape

(1987897, 22)

En total fueron eliminadas 117700 filas

### Hacemos un top 5 de usuarios con mas reseÃ±as

In [17]:
# Utiliza nlargest para obtener el top 5
top_5_review = df.nlargest(5, 'review_count')
top_5_review

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
17169,Hi10sGSZNxQH3NLyWSZ1oA,Fox,17473,2009-05-26 11:33:58,206296,185823,195814,"2014,2015,2016,2017,2018,2019,20,20,2021","uZcWE40gWJHjLT_VyNBp1Q, N52nbyDKZte4PUfJVNpkGQ...",3493,...,431,402,130,45,2408,6565,7655,7655,1644,4053
795339,8k3aO-mPeyhbR5HUucA5aA,Victor,16978,2007-12-08 14:56:45,152979,84992,125516,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","Isb9ZKTK4L5nkOpyXypDPQ, d3rfsXGWtS7fpGsYfy_C7Q...",1462,...,327,222,55,84,2204,3786,3618,3618,2731,256
4723,hWDybu_KvYLSdEFzGrniTw,Bruce,16567,2009-03-08 21:47:44,173089,98459,144849,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","sZ0Qxjn12H8jjHBPLQW32w, Lkk3DqzhvqwpiQKwwAyZcw...",867,...,586,541,34,76,2466,5264,6728,6728,5811,2224
606393,RtGqdDBvvBCjcu5dUqwfzA,Shila,12868,2010-10-17 06:35:06,11109,3747,3292,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","hz79Mq7EGhHXZkIspAQtrg, LJE8g5sbnmu5Ua9YGN9SKw...",300,...,20,3,8,7,146,175,173,173,97,11
152,P5bUL3Engv-2z6kKohB6qQ,Kim,9941,2006-05-31 21:27:42,27549,10772,21375,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","hfY2Soz8LWSA0oRVcYuRmg, Y6_gZa4jVXv0d4qiMbbycw...",825,...,130,113,47,34,511,1073,1199,1199,482,252

In [20]:
print(top_5_review["average_stars"])

17169     3.77
795339    3.35
4723      3.67
606393    3.87
152       3.81
Name: average_stars, dtype: float64

### Hacemos un top 5 de usuarios con mas fans

In [18]:
# Utiliza nlargest para obtener el top 5
top_5_fans = df.nlargest(5, 'fans')
top_5_fans

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
5444,37cpUoM8hlkSQfReIEBd-Q,Mike,1882,2009-04-25 14:54:26,22860,10965,15350,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","fLRfYMFIRzjX28OFTsCu4g, pEIzH_tNwK7pcqTViKm-RQ...",12497,...,112,61,130,29,453,685,1002,1002,498,1829
198889,hizGc5W1tBHPghM5YKCAtg,Katie,1825,2009-05-22 20:19:55,48711,32078,39747,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","wHrIy02OYTKYT1YdxPjhwg, 9myTU-JiWk-WaC9LlzK1iw...",3642,...,430,419,375,253,3152,18529,7910,7910,2543,1676
17169,Hi10sGSZNxQH3NLyWSZ1oA,Fox,17473,2009-05-26 11:33:58,206296,185823,195814,"2014,2015,2016,2017,2018,2019,20,20,2021","uZcWE40gWJHjLT_VyNBp1Q, N52nbyDKZte4PUfJVNpkGQ...",3493,...,431,402,130,45,2408,6565,7655,7655,1644,4053
200787,JjXuiru1_ONzDkYVrHN0aw,Richard,1424,2009-08-23 13:03:27,183512,129638,173423,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...","7Ie3f_4upzsMNAY07d19kA, SmkjLDoFYRBIfY0D8KevSQ...",3243,...,4138,6411,2974,2413,13970,101097,49967,49967,15934,56104
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946

### Vemos el promedio de los que mas fans tienen

In [19]:
print(top_5_fans["average_stars"])

5444      4.39
198889    4.23
17169     3.77
200787    4.18
1         3.74
Name: average_stars, dtype: float64