# EDA y ETL tip

 Tips (consejos) escritos por el usuario. Los tips son más cortas que las reseñas y tienden a dar sugerencias rápidas.

In [2]:
import pandas as pd

In [3]:
df = pd.read_json("c:/Users/leand/Desktop/Proyecto Final/Yelp/Datasets Yelp/tip.json", lines=True)

In [4]:
df.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

### La columna compliment_count se refiere a cuantos cumplidos totales tiene el consejo. ahora veremos el top 10 de los tip con mas cumplidos

In [6]:
# Utiliza nlargest para obtener el top 10
top_10_filas = df.nlargest(10, 'compliment_count')
top_10_filas

,user_id,business_id,text,date,compliment_count
543367,tsMF0FcFcHZ8i28WzWtQXw,dsfRniRgfbDjC8os848B6A,Experience Bern's by sitting at the bar too . ...,2020-03-05 01:28:45,6
711663,661RwsBrt5ZbNhuipyhJcQ,x8-sTKZG59RUhgGj_kcyVg,Brandon. Come here for your bbq. Gush.,2016-06-11 15:37:07,6
85848,G-l9ihg3sRAiGTuZLDmJTQ,5AOSTPOiZb7pnHJ6ICqqbA,"$8 drink menu, Velvet seats, and Dog friendly.",2014-11-06 01:01:18,5
244605,A4bsa7ykYRVCnb4h2vZALw,3Wy21heeDm8h2tSZfcj6OA,30 minute wait for our drink order is unaccept...,2017-01-15 22:16:30,5
545163,tsMF0FcFcHZ8i28WzWtQXw,pPpaOXOwcuO7z0sDghmOgw,Sumo oranges are in season. (Jan.- Mar.) They ...,2020-01-17 14:15:20,5
25307,DaZJEuWdvhfYpeKgBaJ6eQ,WykmE4FdA3UThjU88SfIxw,"One of the theaters refusing to show ""Straight...",2015-08-17 11:05:47,4
107070,Oi1qbcz2m2SnwUeztGYcnQ,Ht66H1iGx0llc7ne81tjBw,Look at the stars people! I'd rather have a ro...,2013-11-18 00:47:06,4
176024,-G7Zkl1wIWBBmD0KRy_sCw,IYKvq-tl7XN_z7Q22SQ3WQ,Found my next car here through Car Gurus! Grea...,2019-09-17 21:37:15,4
203239,Bw7S12p7KWjvgO9lz99s7Q,J8sruBXIMooknVlToC2CEQ,So sad. Hattie's has closed:(. Best wishes to ...,2016-01-01 16:24:34,4
238552,F3lu1icxJX5A5tCw-jVpTg,0wQCEcpZ57TmTm6EmEDsIw,The waitstaff here needs to work on their mann...,2012-09-21 14:30:25,4

In [7]:
conteo_por_cumplido = df['compliment_count'].value_counts()
conteo_por_cumplido

compliment_count
0    898376
1      9821
2       617
3        82
4        14
5         3
6         2
Name: count, dtype: int64