# CREACIÃ“N DE NUEVAS TABLAS

# Tip:

importamos la libreria

In [1]:
import pandas as pd

Cargamos la data

In [3]:
tip_fl = pd.read_json("C:/Users/leand/Desktop/Proyecto Final/Proyecto-Final-HENRY-Big-Data/ETL/Data florida/yelp_tip_fl.json")

In [4]:
tip_fl.head(1)

,user_id,business_id,text,date,compliment_count
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0

Transformamos las colunmas

In [5]:
# Renombrar las columnas del segundo DataFrame para que coincidan con las del primero
tip_fl.rename(columns={'user_id': 'id_usuario', 'business_id': 'id_restaurante', 'text': 'consejo', 'date': 'dia'}, inplace=True)

# Agregar una columna 'id_consejo' para ambos DataFrames
tip_fl['id_consejo'] = range(len(tip_fl))


# Agregar una columna 'id_plataforma' para ambos DataFrames
tip_fl['id_plataforma'] = 'Yelp'

In [6]:
tip_fl.head(1)

,id_usuario,id_restaurante,consejo,dia,compliment_count,id_consejo,id_plataforma
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,0,Yelp

Exportamos el df

In [7]:
'''
tip_fl.to_json('consejos.json', orient='records')
'''