In [15]:
import pandas as pd
import ast

In [ ]:
# Ruta al archivo JSON
ruta_al_archivo = 'metadata_FL_Google.json'
# Lee el archivo JSON y normaliza la estructura
df = pd.read_json(ruta_al_archivo, orient='records', encoding='utf-8')

In [42]:
gmap_id_list = df['gmap_id'].tolist()

# 1

In [53]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/1.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [54]:
df_1=filtered_df

In [57]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14374 entries, 90 to 149928
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  14374 non-null  float64
 1   name     14374 non-null  object
 2   time     14374 non-null  datetime64[ns]
 3   rating   14374 non-null  int64
 4   text     9635 non-null   object
 5   gmap_id  14374 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 786.1+ KB

# 2

In [55]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/2.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [56]:
df_2=filtered_df

In [58]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11720 entries, 1031 to 149852
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  11720 non-null  float64
 1   name     11720 non-null  object
 2   time     11720 non-null  datetime64[ns]
 3   rating   11720 non-null  int64
 4   text     7883 non-null   object
 5   gmap_id  11720 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 640.9+ KB

# 3

In [59]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/3.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [60]:
df_3=filtered_df

In [61]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11556 entries, 92 to 149816
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  11556 non-null  float64
 1   name     11556 non-null  object
 2   time     11556 non-null  datetime64[ns]
 3   rating   11556 non-null  int64
 4   text     7815 non-null   object
 5   gmap_id  11556 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 632.0+ KB

# 4

In [62]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/4.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [63]:
df_4=filtered_df

In [64]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16790 entries, 10 to 149689
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  16790 non-null  float64
 1   name     16790 non-null  object
 2   time     16790 non-null  datetime64[ns]
 3   rating   16790 non-null  int64
 4   text     10785 non-null  object
 5   gmap_id  16790 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 918.2+ KB

# 5

In [65]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/5.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [66]:
df_5=filtered_df

In [67]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10193 entries, 671 to 149824
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  10193 non-null  float64
 1   name     10193 non-null  object
 2   time     10193 non-null  datetime64[ns]
 3   rating   10193 non-null  int64
 4   text     6763 non-null   object
 5   gmap_id  10193 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 557.4+ KB

# 6

In [68]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/6.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [69]:
df_6=filtered_df

In [70]:
df_6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12892 entries, 408 to 149251
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  12892 non-null  float64
 1   name     12892 non-null  object
 2   time     12892 non-null  datetime64[ns]
 3   rating   12892 non-null  int64
 4   text     8611 non-null   object
 5   gmap_id  12892 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 705.0+ KB

# 7

In [71]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/7.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [72]:
df_7=filtered_df

In [73]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44172 entries, 344 to 149320
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  44172 non-null  float64
 1   name     44172 non-null  object
 2   time     44172 non-null  datetime64[ns]
 3   rating   44172 non-null  int64
 4   text     27112 non-null  object
 5   gmap_id  44172 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.4+ MB

# 8

In [74]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/8.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [75]:
df_8=filtered_df

In [76]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65089 entries, 197 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  65089 non-null  float64
 1   name     65089 non-null  object
 2   time     65089 non-null  datetime64[ns]
 3   rating   65089 non-null  int64
 4   text     40091 non-null  object
 5   gmap_id  65089 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.5+ MB

# 9

In [77]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/9.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [78]:
df_9=filtered_df

In [79]:
df_9.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78206 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  78206 non-null  float64
 1   name     78206 non-null  object
 2   time     78206 non-null  datetime64[ns]
 3   rating   78206 non-null  int64
 4   text     48360 non-null  object
 5   gmap_id  78206 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.2+ MB

# 10

In [80]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/10.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [81]:
df_10=filtered_df

In [82]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61601 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  61601 non-null  float64
 1   name     61601 non-null  object
 2   time     61601 non-null  datetime64[ns]
 3   rating   61601 non-null  int64
 4   text     37003 non-null  object
 5   gmap_id  61601 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.3+ MB

# 11

In [83]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/11.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [84]:
df_11=filtered_df

In [85]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84925 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  84925 non-null  float64
 1   name     84925 non-null  object
 2   time     84925 non-null  datetime64[ns]
 3   rating   84925 non-null  int64
 4   text     51531 non-null  object
 5   gmap_id  84925 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.5+ MB

# 12

In [86]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/12.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [87]:
df_12=filtered_df

In [88]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73180 entries, 0 to 149877
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  73180 non-null  float64
 1   name     73180 non-null  object
 2   time     73180 non-null  datetime64[ns]
 3   rating   73180 non-null  int64
 4   text     43973 non-null  object
 5   gmap_id  73180 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.9+ MB

# 13

In [89]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/13.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [90]:
df_13=filtered_df

In [91]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89897 entries, 733 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  89897 non-null  float64
 1   name     89897 non-null  object
 2   time     89897 non-null  datetime64[ns]
 3   rating   89897 non-null  int64
 4   text     53515 non-null  object
 5   gmap_id  89897 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.8+ MB

# 14

In [92]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/14.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [93]:
df_14=filtered_df

In [94]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78753 entries, 0 to 148769
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  78753 non-null  float64
 1   name     78753 non-null  object
 2   time     78753 non-null  datetime64[ns]
 3   rating   78753 non-null  int64
 4   text     46885 non-null  object
 5   gmap_id  78753 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.2+ MB

# 15

In [95]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/15.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [96]:
df_15=filtered_df

In [97]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90170 entries, 2 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  90170 non-null  float64
 1   name     90170 non-null  object
 2   time     90170 non-null  datetime64[ns]
 3   rating   90170 non-null  int64
 4   text     56564 non-null  object
 5   gmap_id  90170 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.8+ MB

# 16

In [98]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/16.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [99]:
df_16=filtered_df

In [100]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57134 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  57134 non-null  float64
 1   name     57134 non-null  object
 2   time     57134 non-null  datetime64[ns]
 3   rating   57134 non-null  int64
 4   text     34979 non-null  object
 5   gmap_id  57134 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.1+ MB

# 17

In [101]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/17.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [102]:
df_17=filtered_df

In [103]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71316 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  71316 non-null  float64
 1   name     71316 non-null  object
 2   time     71316 non-null  datetime64[ns]
 3   rating   71316 non-null  int64
 4   text     44119 non-null  object
 5   gmap_id  71316 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.8+ MB

# 18

In [104]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/18.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [105]:
df_18=filtered_df

In [106]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66915 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  66915 non-null  float64
 1   name     66915 non-null  object
 2   time     66915 non-null  datetime64[ns]
 3   rating   66915 non-null  int64
 4   text     40834 non-null  object
 5   gmap_id  66915 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 3.6+ MB

# 19

In [107]:
#importo 
ruta_al_archivo = 'Google/reviews-estados/review-Florida/19.json'
df1 = pd.read_json(ruta_al_archivo, lines=True, encoding='utf-8')
df1['time'] = pd.to_datetime(df1['time'], unit='ms').dt.floor('T')
df1.drop(['pics', 'resp'], axis=1, inplace=True)
filtered_df = df1[df1['gmap_id'].isin(gmap_id_list)]

In [108]:
df_19=filtered_df

In [109]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96854 entries, 0 to 147063
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  96854 non-null  float64
 1   name     96854 non-null  object
 2   time     96854 non-null  datetime64[ns]
 3   rating   96854 non-null  int64
 4   text     61054 non-null  object
 5   gmap_id  96854 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 5.2+ MB

In [110]:
dataframes_list = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10,
                   df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19]

# Concatenar DataFrames
reviews_Florida_Google = pd.concat(dataframes_list, ignore_index=True)

In [111]:
reviews_Florida_Google.head()

,user_id,name,time,rating,text,gmap_id
0,1.111923e+20,Nellie Lao,2016-07-01 20:10:00,5,Excellent Dominican/PuertoRican food. Her Arro...,0x88dae191ee505917:0x6ba3e25388d3fad4
1,1.089901e+20,ñappa Papeleta,2016-08-17 07:42:00,5,The food and service is great . In my top 3 do...,0x88dae191ee505917:0x6ba3e25388d3fad4
2,1.122391e+20,Will Tav,2017-05-09 12:34:00,5,Amazing food!,0x88dae191ee505917:0x6ba3e25388d3fad4
3,1.144351e+20,Daniel Rosario,2017-04-23 17:03:00,5,Amazing food!,0x88dae191ee505917:0x6ba3e25388d3fad4
4,1.120489e+20,Ivan Terrero,2014-07-05 15:58:00,5,Execellent Dominican food!!!,0x88dae191ee505917:0x6ba3e25388d3fad4

In [112]:
reviews_Florida_Google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035737 entries, 0 to 1035736
Data columns (total 6 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1035737 non-null  float64
 1   name     1035737 non-null  object
 2   time     1035737 non-null  datetime64[ns]
 3   rating   1035737 non-null  int64
 4   text     637512 non-null   object
 5   gmap_id  1035737 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 47.4+ MB

In [113]:
reviews_Florida_Google.to_json('reviews_Florida_Google.json', orient='records')