# CREACIÃ“N DE NUEVAS TABLAS

# Tip:

importamos la libreria

In [54]:
import pandas as pd

Cargamos la data

In [55]:
tip_fl = pd.read_json("C:/Users/leand/Desktop/Proyecto Final/Proyecto-Final-HENRY-Big-Data/ETL/Data florida/yelp_tip_fl.json")

In [56]:
tip_fl.head(1)

,user_id,business_id,text,date,compliment_count
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0

In [57]:
tip_fl.info(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127531 entries, 0 to 127530
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           127531 non-null  object
 1   business_id       127531 non-null  object
 2   text              127531 non-null  object
 3   date              127531 non-null  datetime64[ns]
 4   compliment_count  127531 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.9+ MB

Transformamos las colunmas

In [58]:
# Renombrar las columnas del segundo DataFrame para que coincidan con las del primero
tip_fl.rename(columns={'user_id': 'id_usuario', 'business_id': 'id_restaurante', 'text': 'consejo', 'date': 'dia'}, inplace=True)

# Agregar una columna 'id_consejo' para ambos DataFrames
tip_fl['id_consejo'] = range(len(tip_fl))


# Agregar una columna 'id_plataforma' para ambos DataFrames
tip_fl['id_plataforma'] = 'Yelp'

In [59]:
tip_fl.head(1)

,id_usuario,id_restaurante,consejo,dia,compliment_count,id_consejo,id_plataforma
0,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,0,Yelp

# Cargamos df restaurantes

Para actualizar el id y que coincida con las otras tablas

In [60]:
import json

# Lee el archivo JSON como texto
with open("C:/Users/leand/Desktop/Proyecto Final/Proyecto-Final-HENRY-Big-Data/Tablas/restaurantes.json", "r") as file:
    json_text = file.read()

# Divide el texto en objetos JSON individuales
json_objects = json_text.split("\n")

# Convierte los objetos JSON en una lista de diccionarios
data_list = [json.loads(obj) for obj in json_objects if obj.strip()]

# Crea un DataFrame a partir de la lista de diccionarios
restaurantes = pd.DataFrame(data_list)

In [61]:
# Selecciona solo las columnas deseadas
columnas_deseadas = ['id_restaurante', 'identificador_yelp']
restaurantes_filtrado = restaurantes[columnas_deseadas].copy()

In [62]:
restaurantes_filtrado.rename(columns={'id_restaurante': 'id', 'identificador_yelp': 'id_restaurante'}, inplace=True)

In [63]:
tip = pd.merge(restaurantes_filtrado, tip_fl, on='id_restaurante', how='inner')

In [64]:
tip.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127531 entries, 0 to 127530
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                127531 non-null  int64
 1   id_restaurante    127531 non-null  object
 2   id_usuario        127531 non-null  object
 3   consejo           127531 non-null  object
 4   dia               127531 non-null  datetime64[ns]
 5   compliment_count  127531 non-null  int64
 6   id_consejo        127531 non-null  int64
 7   id_plataforma     127531 non-null  object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 7.8+ MB

In [65]:
tip.rename(columns={'id_restaurante': 'identificador_plataforma', 'id': 'id_restaurante'}, inplace=True)

In [66]:
tip = tip.drop('identificador_plataforma', axis=1)

# Ahora lo mismo con el df de usuarios

In [67]:
usuarios = pd.read_csv('C:/Users/leand/Desktop/Proyecto Final/Proyecto-Final-HENRY-Big-Data/Tablas/users.csv')

In [68]:
# Selecciona solo las columnas deseadas
columnas_deseadas = ['user_identifier', 'user_id']
usuarios = usuarios[columnas_deseadas]

In [69]:
usuarios.rename(columns={'user_identifier': 'id_usuario', 'user_id': 'id'}, inplace=True)

In [70]:
tip = pd.merge(tip,usuarios, on='id_usuario', how='left')

In [71]:
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127531 entries, 0 to 127530
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_restaurante    127531 non-null  int64
 1   id_usuario        127531 non-null  object
 2   consejo           127531 non-null  object
 3   dia               127531 non-null  datetime64[ns]
 4   compliment_count  127531 non-null  int64
 5   id_consejo        127531 non-null  int64
 6   id_plataforma     127531 non-null  object
 7   id                96071 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 7.8+ MB

In [72]:
tip.head()

,id_restaurante,id_usuario,consejo,dia,compliment_count,id_consejo,id_plataforma,id
0,15198,u74KoKOshZobNmkb6L9PMw,Always a pleasant experience. The food is fres...,2017-07-15 00:51:19,0,1377,Yelp,8.873486e+09
1,15198,2M5nrxf_CBlu-y0lKoqGhQ,Fresh pizza dough sold here!,2015-06-20 15:16:02,0,15294,Yelp,9.193213e+09
2,15198,Fq5KZPiCyoz4sCF0LpFRPg,"When you get an Italian Sub, or any cold cut s...",2015-10-20 16:41:41,0,15785,Yelp,9.192938e+09
3,15198,MUBoVv-Z50T4FwhZKc-z8w,Cesarinas is OPEN,2016-06-18 15:03:13,0,16910,Yelp,9.046353e+09
4,15198,RQjtzwpJOU3-_g_KxsbgUw,CLOSED under New name,2016-10-12 20:01:23,0,26966,Yelp,9.193414e+09

In [73]:
tip = tip.drop('id_usuario', axis=1)

In [74]:
tip.rename(columns={'id': 'id_usuario'}, inplace=True)

In [75]:
tip.head()

,id_restaurante,consejo,dia,compliment_count,id_consejo,id_plataforma,id_usuario
0,15198,Always a pleasant experience. The food is fres...,2017-07-15 00:51:19,0,1377,Yelp,8.873486e+09
1,15198,Fresh pizza dough sold here!,2015-06-20 15:16:02,0,15294,Yelp,9.193213e+09
2,15198,"When you get an Italian Sub, or any cold cut s...",2015-10-20 16:41:41,0,15785,Yelp,9.192938e+09
3,15198,Cesarinas is OPEN,2016-06-18 15:03:13,0,16910,Yelp,9.046353e+09
4,15198,CLOSED under New name,2016-10-12 20:01:23,0,26966,Yelp,9.193414e+09

Exportamos el df

In [77]:
'''
tip.to_csv('consejos.csv', index=False)
'''